.blog-post {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  }
  
  .blog-post .blog-img .overlay,
  .blog-post .blog-img .post-meta {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .blog-post .blog-img .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .blog-post .blog-img .post-meta {
    bottom: 5%;
    right: 5%;
    z-index: 1;
  }
  
  .blog-post .blog-img .post-meta .read-more:hover {
    color: #6dc77a !important;
  }
  
  .blog-post .content h1, .blog-post .content h2, .blog-post .content h3, .blog-post .content h4, .blog-post .content h5, .blog-post .content h6 {
    line-height: 1.2;
  }
  
  .blog-post .content .title {
    font-size: 18px;
  }
  
  .blog-post .content .title:hover {
    color: #6dc77a !important;
  }
  
  .blog-post .content .author .name:hover {
    color: #6dc77a !important;
  }
  
  .blog-post:hover {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .blog-post:hover .blog-img .overlay {
    opacity: 0.65;
  }
  
  .blog-post:hover .blog-img .post-meta {
    opacity: 1;
  }
  
  .blog-post .post-meta .like i,
  .profile-post .like i {
    -webkit-text-stroke: 2px #dd2427;
    -webkit-text-fill-color: transparent;
  }
  
  .blog-post .post-meta .like:active i, .blog-post .post-meta .like:focus i,
  .profile-post .like:active i,
  .profile-post .like:focus i {
    -webkit-text-stroke: 0px #dd2427;
    -webkit-text-fill-color: #dd2427;
  }
  
  .avatar.avatar-ex-sm {
      height: 36px;
  }
  .shadow {
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  }
  
  .text-muted {
      color: #8492a6 !important;
  }
  
  
  .para-desc {
      max-width: 600px;
  }
  .text-muted {
      color: #8492a6 !important;
  }
  
  .section-title .title {
      letter-spacing: 0.5px;
      font-size: 30px;
  }

.pad-30{
    padding: 30px;
}

.team4 h1, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}



.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}


.color-grey{
  color: #627680;
}

.color-black{
  color: #000000;
}

.widget {
  padding: 15px 0;
}

.widget:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.search-box {
  position: relative;
}

.search-box i {
  position: absolute;
  left: 0;
  top: 25px;
  color: #767575;
}

.back-marble {
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-dark {
  color: #000000 !important;
  transition: all 0.3s linear;
}

a.text-dark:hover {
  color: #00adbd !important;
}

.fs-18{
  font-size: 18px;
  font-weight: bold;
}

.dark-hover {
  transition: all 0.3s linear;
}

.dark-hover:hover {
  color: #000000 !important;
}

td {
  width: 33% ;
} 
@media (max-width: 700px) {
  .team-border1{
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 700px) {
  .team-border2{
    padding-right: 3rem; 
    padding-left: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
} 

.header-title-logo {
  background-color: rgb(88, 127, 204);
  color: rgb(255, 255, 255) !important;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.header-title-logo:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(88, 127, 204) !important;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.header-title-logo {
  transition: all 0.3s linear;
}

.size-footer-image {
  max-width: 70%;
  height: auto;
  float:right;

}