{{ partial "header_single.html" . }}
<!-- page-title -->
<section class="pb-3"></section>
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4>{{ .Params.real_title }}</h4>
			</div>
		</div>
	</div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section class="pt-3">
	<div class="container">

		<p class="mb-2 darkblue">The importance of artificial intelligence (AI) is increasing worldwide. Its potential is also becoming more and more apparent with regard to the challenges in the healthcare sector.</p>
		<p class="darkblue">It is therefore extremely important to address the lack of digital skills in this area by training qualified healthcare professionals in the field of AI and computer scientists in the field of healthcare.</p>
		<p class="courses">With our new master's program, we want to address this issue.</p>

		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-overview">
					<button class="accordion-button collapsed faq-title" type="button" data-bs-toggle="collapse"
						data-bs-target="#flush-collapse-overview" aria-expanded="false"
						aria-controls="flush-collapse-overview">
						THE XAIM MASTER'S DEGREE PROGRAM - AN OVERVIEW
					</button>
				</h2>
				<div id="flush-collapse-overview" class="accordion-collapse collapse"
					aria-labelledby="flush-heading-overview"
					data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						Our xAIM online master's program aims to create an interdisciplinary environment where students are trained to work at the intersection of Data Science, AI and Healthcare. Students will learn the fundamentals of Machine Learning and Data Science so that they can handle and analyse large, heterogeneous and complex datasets representative of the healthcare sector. Concepts from the health sector are taught to further their understanding and to enable them to interpret the data and results. The entire program will put a strong focus on the current state of the art and possible future AI applications in healthcare, as an important goal of the master's program is to provide practical knowledge and the ability to apply the acquired skills. To complete the curriculum, there will be a strong emphasis on ethical and social implications of AI applications.
					</div>
				</div>
			</div>
		</div>

		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-requirements">
					<button class="accordion-button collapsed faq-title" type="button" data-bs-toggle="collapse"
						data-bs-target="#flush-collapse-requirements" aria-expanded="false"
						aria-controls="flush-collapse-requirements">
						ADMISSION REQUIREMENTS
					</button>
				</h2>
				<div id="flush-collapse-requirements" class="accordion-collapse collapse"
					aria-labelledby="flush-heading-requirements" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<table class="master1">
							<tr>
								<th class="master2">One of the two following:</th>
								<th class="master2">Additionally, each applicant has to provide evidence of:</th>
							</tr>
							<tr>
								<td>
									<ul>
										<li>Bachelor’s degree in Biology, Biomedicine, Life Sciences, Health Care or a
											closely related
											subject, alternatively graduation in medicine</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Knowledge of the English language at a level no lower than level B2 of the
											CEF (Common European Framework)</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<ul>
										<li>Bachelor’s degree in Data Science, Computer Science, Mathematics,
											Statistics, Economics,
											Management or a closely related subject</li>
									</ul>
								</td>
								<td>

								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-courses-and-teaching-language">
					<button class="accordion-button collapsed faq-title" type="button" data-bs-toggle="collapse"
						data-bs-target="#flush-collapse-courses-and-teaching-language" aria-expanded="false"
						aria-controls="flush-collapse-courses-and-teaching-language">
						COURSES AND TEACHING LANGUAGE
					</button>
				</h2>
				<div id="flush-collapse-courses-and-teaching-language" class="accordion-collapse collapse"
					aria-labelledby="flush-heading-courses-and-teaching-language"
					data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<p>The master's program consists of three semesters, of which the first two include three
							compulsory courses each and a selection of electives. The third semester is dedicated to
							writing the master's thesis.</p>
						<p>
							The language of instruction is English. The individual courses are covered by the faculties
							of the participating universities.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-first-semester">
					<button class="accordion-button collapsed faq-title" type="button" data-bs-toggle="collapse"
						data-bs-target="#flush-collapse-first-semester" aria-expanded="false"
						aria-controls="flush-collapse-first-semester">
						FIRST SEMESTER
					</button>
				</h2>
				<div id="flush-collapse-first-semester" class="accordion-collapse collapse"
					aria-labelledby="flush-heading-first-semester"
					data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<table class="master1">
							<tr>
								<th class="master2 colored-underline-text">Mandatory Courses</th>
								<th class="master2 colored-underline-text">Elective Courses</th>
							</tr>
							<tr>
								<td>
									<p>
										<mark class="darkblue">Data Driven Healthcare</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
										<br>
										Participants acquire the basic skills to understand and manage biomedical data, including electronic acquisition, storage and exploration using statistical methods.
									</p>
									<p>
										<mark class="darkblue">Introduction to Data Science</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
										<br>
										In theory and through practical exercises, participants acquire knowledge in data science, techniques of data mining and data clustering and more.
									</p>
									<p>
										<mark class="darkblue">Trustworthy AI</mark>
										<br>
										<mark class="turqblue">(Ethical and Legal Considerations)</mark>
										<br>
										Participants learn how to quantitatively assess trustworthiness of AI in practice.
									</p>
								</td>
								<td class="master3">
									<p>
										<mark class="courses">Coding in Python</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
									</p>
									<p>
										<mark class="courses">Text Mining</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
									</p>
									<p>
										<mark class="courses">Introduction to Healthcare Management</mark>
										<br>
										<mark class="turqblue">(Healthcare and Management)</mark>
									</p>
									<p>
										<mark class="courses">Advanced AI Assessment</mark>
										<br>
										<mark class="turqblue">(Healthcare and Management)</mark>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading-second-semester">
					<button class="accordion-button collapsed faq-title" type="button" data-bs-toggle="collapse"
						data-bs-target="#flush-collapse-second-semester" aria-expanded="false"
						aria-controls="flush-collapse-second-semester">
						SECOND SEMESTER
					</button>
				</h2>
				<div id="flush-collapse-second-semester" class="accordion-collapse collapse"
					aria-labelledby="flush-heading-second-semester"
					data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<table class="master1">
							<tr>
								<th class="master2 colored-underline-text">Mandatory Courses</th>
								<th class="master2 colored-underline-text">Elective Courses</th>
							</tr>
							<tr>
								<td>
									<p>
										<mark class="darkblue">Transforming Healthcare</mark>
										<br>
										<mark class="turqblue">(Healthcare and Management)</mark>
										<br>
										Participants gain knowledge of healthcare challenges at different levels of analysis as well as of transformation strategies to address these challenges using the potential of AI.
									</p>
									<p>
										<mark class="darkblue">AI and Healthcare Workforce</mark>
										<br>
										<mark class="turqblue">(Healthcare and Management)</mark>
										<br>
										Participants learn about the challenges of the healthcare workforce and the relationship between clinicians and patients when adopting AI devices.
									</p>
									<p>
										<mark class="darkblue">Z-Inspection®: A Process to assess trustworthy AI in Practice</mark>
										<br>
										<mark class="turqblue">(Ethical and Legal Considerations)</mark>
										<br>
										Participants learn how to assess trustworthiness of AI systems for healthcare using socio-technical scenarios.
									</p>
								</td>
								<td class="master3">
									<p>
										<mark class="courses">Computer Vision and Deep Learning</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
									</p>
									<p>
										<mark class="courses">Advanced Topics in AI</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
									</p>
									<p>
										<mark class="courses">AutoML</mark>
										<br>
										<mark class="turqblue">(AI)</mark>
									</p>
									<p>
										<mark class="courses">Information Ethics and Legal Aspects</mark>
										<br>
										<mark class="turqblue">(Ethical and Legal Considerations)</mark>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- /blog single -->
{{ partial "footer.html" . }}