{{ partial "header.html" . }}
<!-- page-title -->
<section class="pb-3"></section>
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4>{{ .Params.real_title }}</h4>
			</div>
		</div>
	</div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section class="pt-3">
	<div class="container">

		<p class="mb-2 darkblue">The importance of artificial intelligence (AI) is increasing worldwide. Its potential is also becoming more and more apparent regarding the challenges in the healthcare sector.</p>
		<p class="darkblue">It is therefore extremely important to address the lack of digital skills in this area by training qualified healthcare professionals in the field of AI and computer scientists in the field of healthcare.</p>
		<p class="courses">With our new master's program, we want to address this issue.</p>
		<p class="darkblue">
			xAIM in short:
			<ul>
				<li>The Master's programme consists of 3 semesters.</li>
				<li>During the first 2 semesters, students will attend 3 compulsory courses and a selection of electives.</li>
				<li>80% of the teaching content is delivered through asynchronous teaching methods, such as video lectures, 20% is delivered through interactive sessions.</li>
				<li>Required level of participation: 75%. Hence, it is a programme suitable for participants who are working while attending the xAIM Master's programme.</li>
				<li>The 3rd semester is dedicated to writing the master's thesis.</li>
				<li>The language of instruction is English.</li>
				<li>Individual courses are covered by the faculties of the participating universities.</li>
				<li>Tuition fees: 2.500€.</li>
				<li>Max number of students per year: 35</li>
			</ul>
		</p>
		<p class="courses">See the complete Master program, with classes and timeline, here:</p>
		<a href="/masters-programme/syllabus/" class="btn-get-started"  target="_blank">Syllabus</a>
	</div>
</section>
<!-- /blog single -->
{{ partial "footer.html" . }}