  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Contact</h3>
              <p>
                University of Pavia<br>
                Via San Felice 5 <br>
                27100 Pavia, Italy <br>
                <br>
                <strong>Email:</strong> info@xaim.eu                <br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#news">News</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#clients">Partners</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>More About Us</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Traing program</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How to apply</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Info for students</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <img src="{{ .Site.BaseURL }}/images/website-images/eu_square_logo.png" class="size-footer-image  float-right" alt="eu-square-image">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>xAIM</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://github.com/nikolazupan/">Nikola Zupan</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ .Site.BaseURL }}assets/vendor/aos/aos.js"></script>
  <script src="{{ .Site.BaseURL }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/vendor/php-email-form/validate.js"></script>
  <script src="{{ .Site.BaseURL }}assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ .Site.BaseURL }}assets/js/main.js"></script>

    <!-- Search -->
    <script src="{{ .Site.BaseURL }}assets/js/fuse.js"></script>
    <script src="{{ .Site.BaseURL }}assets/js/search.js"></script>
    <script src="{{ .Site.BaseURL }}assets/js/mark.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

</body>
</html>
