<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ko-kr" }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a class="header-title-logo"href="{{site.BaseURL}}">xAIM</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link  " href="/faq">FAQ</a></li>
       <li><a class="nav-link scrollto" href="#news">News</a></li>
       <li><a class="nav-link nav-link-special" href="/masters-programme">Master’s Programme</a></li>
       <li><a class="nav-link  " href="/project">The Project</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        {{ if (not (isset site.Params "twitter")) | or (eq site.Params.twitter "") }}
        {{ else }} <a href="{{ site.Params.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a> {{ end }}

        {{ if (not (isset site.Params "facebook")) | or (eq site.Params.facebook "") }}
        {{ else }} <a href="{{ site.Params.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a> {{ end }}

        {{ if (not (isset site.Params "instagram")) | or (eq site.Params.instagram "") }}
        {{ else }} <a href="{{ site.Params.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a> {{ end }}

        {{ if (not (isset site.Params "linkedin")) | or (eq site.Params.linkedin "") }}
        {{ else }} <a href="{{ site.Params.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a> {{ end }}
      </div>

      <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
      {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{ end -}}

    </div>
  </header><!-- End Header -->
