<!-- ======= Main Section ======= -->
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-12" data-aos="zoom-in" >
			<h3 class="text-center">xAIM in short:</h3>
			<ul>
				<li>The master's program consists of 3 semesters.</li>
				<li>During the first 2 semesters, students will attend 3 compulsory courses in each and a selection of
					electives.</li>
				<li>80% of the teaching content is delivered through asynchronous teaching methods, such as video
					lectures,
					20% is delivered through interactive sessions.</li>
				<li>Required level of participation: 75%. Hence, it is a programme suitable for participants who are
					working
					while attending the xAIM master.</li>
				<li>The 3rd semester is dedicated to writing the master's thesis.</li>
				<li>The language of instruction is English.</li>
				<li>The individual courses are covered by the faculties of the participating universities.</li>
				<li>Tuition fees 4.900€</li>
				<li>Max number of students per year: 35</li>
			</ul>
			</p>
			<p class="text-center"><a type="button" href="https://portale.unipv.it/sites/default/files/2023-07/xAIM%20EN%20Call.pdf" class="btn btn-main">xAIM call</a></p>
		</div>
		
		<div class="col-lg-4 col-sm-12" data-aos="zoom-in">
			<h3 class="text-center">Learn from the experts:</h3>
			<p class="text-center">the courses are designed to provide a cutting-edge education to the students, giving
				them the tools to
				navigate the new reality of AI in Healthcare. Our program focuses on state-of-the-art AI techniques,
				identifying current and possible future AI applications. xAIM curriculum is practical and hands-on,
				emphasizing AI applications' ethical and social implications.</p>
			<p class="text-center">The call for application will open in July! Tuition fees: 4.900 EUR.</p>
			<p class="text-center"><a type="button" href="/how-to-apply/registration-guide/" class="btn btn-main">Apply</a></p>
		</div>


		<div class="col-lg-4 col-sm-12" data-aos="zoom-in">
			<h3 class="text-center">Are you considering applying to the xAIM Master?</h3>
			<p class="text-center">
				Please fill in our preliminary questionnaire to contact us:
				we would like to know more about you and your interests. We can also provide you with personalized
				consultancy for your master's application.
			</p>
			<p class="text-center"><a type="button" href="https://docs.google.com/forms/d/e/1FAIpQLSc8M1QedLM3on9Q_SO4OWrgzcBevEs37bckRXiavspPCMh1pA/viewform" class="btn btn-main">Questionnaire</a></p>
		</div>


	</div>
</div>

