

<!-- Button trigger modal  
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#onload">
    Launch demo modal
  </button>
-->
  
  <!-- Modal -->

  <div  id="onload" class="modal fade" tabindex="-1" aria-labelledby="onloadLabel" aria-hidden="true">
    <div class="  modal-xl modal-transition modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Body-->
          <div class="modal-body">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-1"></div>
                <div class="col-6 "><p class="pt-3 pr-2">The call for applications is now open! <b>You can apply by July 31th 23:59 CEST.</b></p>
                  <p>The top 80% of students who will successfully graduate will receive a Thesis Award of 2,500 €.</p></div>
                <div class="col-2 pl-auto"><a type="button" href="/masters-programme/registration/" class="btn btn-signup-one">Learn more <i class="fas fa-book ml-1"></i></a></div>
                <div class="col-2 pl-auto"><a type="button" class="btn btn-signup-two waves-effect" data-bs-dismiss="modal">No, thanks</a></div>
                <div class="col-1"></div>
            </div>
          </div>
        </div>
        <!--/.Content-->
      </div>
  </div>

  


