<section id="news" class="services team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <a href="news"> <h2 class="dark-hover">{{ site.Params.news_title }}</h2> </a>
    </div>
    <div class="row">
      {{ range where site.RegularPages "Type" "news_art" | first 3}}
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
        <div class="icon-box icon-box-blue">
          <div class="pic"><a href="{{.Permalink}}">{{ $image := .Page.Resources.GetMatch .Params.image }}<img src="{{ $image.RelPermalink }}" class="img-fluid" alt=""></a>
          </div>
          <div class="pad-30">
            <h2 class="title"><a href="{{.Permalink}}">{{ .Params.Title }}</a></h2>
            <p class="description">{{ .Summary }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>