      <!-- ======= Clients Section ======= -->
	  <section id="clients" class="clients">
		<div class="container">
  
		  <div class="section-title" data-aos="fade-up">
			<h2>{{ site.Params.partners_title}}</h2>
			<p>{{ site.Params.partners_sub_title}}</p>
		  </div>
  
		<div class="row no-gutters justify-content-lg-center clearfix wow fadeInUp">
            
            <!-- Leibniz Universität Hannover -->
			<div class="col-lg-4 col-md-4 col-xs-6">
				<a href="https://www.uni-hannover.de/en/"><div class="client-logo" data-aos="zoom-in">
					<img src="assets/img/clients/par-1.png" class="img-fluid" alt="">
				</div>
            </a>
			</div>
            
            <!-- The University of Pavia -->
			<div class="col-lg-auto col-md-3 col-xs-6">
				<a href="https://web-en.unipv.it/"><div class="client-logo" data-aos="zoom-in" data-aos-delay="120">
					<img src="assets/img/clients/par-3.png" class="img-fluid" alt="">
				</div>
            </a>
			</div>
            
            <!-- Keele University -->
			<div class="col-lg-4 col-md-3 col-xs-6">
				<a href="https://www.keele.ac.uk/"><div class="client-logo" data-aos="zoom-in" data-aos-delay="80">
					<img src="assets/img/clients/par-2.png" class="img-fluid" alt="">
				</div>
            </a>
			</div>
		</div>

		<div class="row no-gutters justify-content-lg-center clearfix wow fadeInUp">
            
            <!-- University of Ljubljana (Univerza v Ljubljani) -->
			<div class="col-lg-4 col-md-6 col-xs-6">
				<a href="https://www.uni-lj.si/"><div class="client-logo" data-aos="zoom-in" data-aos-delay="160">
					<img src="assets/img/clients/par-4.png" class="img-fluid" alt="">
				</div>
            </a>
			</div>
			
            <!-- Goethe University Frankfurt -->
			<div class="col-lg-4 col-md-6 col-xs-6">
				<a href="https://www.goethe-university-frankfurt.de/en?legacy_request=1"><div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
					<img src="assets/img/clients/par-5.jpg" class="img-fluid" alt="">
				</div>
            </a>
			</div>
		
		
		</div>
  
		</div>
	  </section><!-- End Clients Section -->