<!-- ======= Questionnaire Section ======= -->
<section id="questionnaire" class="questionnaire">
<div class="container">
	<div class="section-title" data-aos="fade-up">
	<h2>Questionnaire</h2>
	</div>

<div class="row no-gutters justify-content-lg-center clearfix wow fadeInUp">
	<p>Are you considering applying to the xAIM Master? Please fill in our preliminary <a href="https://forms.gle/Ek6GvHuPCbb73xw6A">questionnaire</a>: we would like to know more about you and your interests.</p> 
	<br>
	<p>You can also get in touch with us to receive personalized consultancy for your master's application.</p>
</div>
</div>
</section><!-- End Questionnaire Section -->